<!DOCTYPE html>
{% extends 'layout.html' %} {% block title %} Homepage {% endblock %} {% block page_title %} Home {% endblock %} {% block body %}
<html lang="en">
<head>
    <script src="static/js/plotly.min.js"></script>
    <style>
        .center {
margin: auto;
width: 60%;
border: 5px solid #FFFF00;
padding: 10px;
}

    </style>
</head>
<!-- <script src="static/js/dashboard.js"></script> -->
<body>
<div class="container">
    <div class="center">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div><h1>IR Sensor</h1></div>
                    <div id="tester1" style="width:600px;height:250px;"></div>
                    <script>

                function rand() {
    return Math.random();
    }
Plotly.newPlot('tester1', [{
    y: [1,2,3].map(rand),
    mode: 'lines',
    line: {color: 'black'}
}]);
var cnt = 0;

var interval = setInterval(function() {

    Plotly.extendTraces('tester1', {
        y: [[rand()]]
    }, [0])

    if(++cnt === 100) clearInterval(interval);
}, 300);









                    </script>
                </div>
                <div class="row">
                    <div><h1>Ultra Sonic Sensor</h1></div>
                    <div id="tester2" style="width:600px;height:250px;"></div>
                    <script>
                function rand() {
    return Math.random();
    }
Plotly.newPlot('tester2', [{
    y: [1,2,3].map(rand),
    mode: 'lines',
    line: {color: 'black'}
}]);
var cnt = 0;

var interval = setInterval(function() {

    Plotly.extendTraces('tester2', {
        y: [[rand()]]
    }, [0])

    if(++cnt === 100) clearInterval(interval);
}, 300);









                    </script>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div><h1>Speed</h1></div>
                    <div id="tester3" style="width:600px;height:250px;"></div>
                    <script>
                function rand() {
    return Math.random();
    }
Plotly.newPlot('tester3', [{
    y: [1,2,3].map(rand),
    mode: 'lines',
    line: {color: 'black'}
}]);
var cnt = 0;

var interval = setInterval(function() {

    Plotly.extendTraces('tester3', {
        y: [[rand()]]
    }, [0])

    if(++cnt === 100) clearInterval(interval);
}, 300);









                    </script>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>
{% endblock %}
