{% extends 'layout.html' %} {% block title %} Homepage {% endblock %} {% block page_title %} Home {% endblock %} {% block body %}
<h1 style="text-align:center" ></h1>
<body>
<div style="text-align: center;">
   
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wLY3dIGv30M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
</div>
<div align="center">
    <p><b>Objective:</b> Move the robot through an obstacle course and collect points by passing checkpoints</p>
    <p><b>How to Use: </b>Code the car using blockly. Each forward/backward block moves the car 45cm. Each turn block turn the car 90 degrees</p>
</div>
</body>

<br> {% endblock %}