{% extends 'layout.html' %} {% block title %} Homepage {% endblock %} {% block page_title %} Home {% endblock %} {% block body %}
<h1 style="text-align:center" >welcome to Gear Crash</h1>
<body>
<div style="text-align: center;">
   
    <iframe width="950" height="550" src="https://www.youtube.com/embed/p2b2Vb-cYCs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay=1; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
</div>
</body>

<br> {% endblock %}